[Unit]
Description=Fitness.Catalog.Api Service
After=syslog.target network.target

[Service]
User=USER_PLACEHOLDER
EnvironmentFile=-/opt/Fitness.Catalog.Api/Fitness.Catalog.Api.env
ExecStart=/usr/bin/java -jar /opt/Fitness.Catalog.Api/Fitness.Catalog.Api-0.0.1-SNAPSHOT.jar
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
